<h1>Upload Picture</h1>
<!-- <p>Find me in app/views/pictures/new.html.erb</p> -->


<div>
  <%= form_for [@user, @picture] do |f|%>
  <%= f.label :url, 'Upload Photo' %>
  <%= f.file_field :url, placeholder: 'Upload Picture' %>
  <%= f.label :caption, 'Edit' %>
  <%= f.text_field :caption, placeholder: 'Write a caption' %>
  <!-- <%= f.label :tag, 'tag' %> -->
  <!-- <%= f.text_field :tag, placeholder: 'Write a tag' %> -->
  <%= f.submit 'Upload' %>



  <% end%>
</div>
